/* .gutter {
  margin: 0;
} */

.main-title {
  text-align: center;
  height: 10rem;
  /* background-color: rgb(20, 65, 53); */
  padding: 3rem 0;
  margin: 0;
}

/* @media only screen and (min-width: 600px) {
  .gutter {
    margin: 0 5rem;
  }
} */
